fastapi
uvicorn
asyncpg
starlette
sqlalchemy
psycopg2-binary
transformers
torch
pydantic
h11
transformers[torch,sentencepiece]
alembic
pyjwt
haystack-ai
huggingface_hub
pydantic_core
typing_extensions
annotated_types
anyio
requests
sniffio
tqdm
urllib3
idna
certifi
pyyaml
filelock
numpy
lazy_imports
networkx
pandas
jinja2
pytz
markupsafe
python-dateutil
tenacity
six
posthog
backoff
monotonic
jwt